<!-- 
<button mat-icon-button matDialogClose style="float: right; margin: 3px;">
    <mat-icon> close</mat-icon>
</button>

<div mat-dialog-content>
    <header>
        <h1>Вход/Регистрация</h1>
    </header>
    <p><mat-form-field>
        <input matInput placeholder="Ваш логин">
        <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>  
    </p>
    <p><mat-form-field>
        <input matInput placeholder="Ваш email">
        <mat-icon matSuffix>drafts</mat-icon>
    </mat-form-field>  
    </p>
    <p><mat-form-field>
        <input matInput placeholder="Ваш пароль">
        <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>  
    </p>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary">Войти</button>
</div> -->