<div>{{ statusMessage }}</div>

<div class="py-2 px-5 border rounded flex flex-col mb-1 bg-white font-medium">
  <td>
    <input
      type="button"
      value="Изменить"
      style="color: green;"
      (click)="editTask(task)"
    />
  </td>
  <td>
    <input
      type="button"
      value="Удалить"
      style="color: firebrick;"
      (click)="deleteTask(task)"
    />
  </td>

  <!-- <mat-checkbox class="text-right">Сделано</mat-checkbox> -->
  <h1 class="text-lg text-left mb-2">{{ task.createdAt }}</h1>
  <p class="text-left text-sm">{{ task.taskGroupId }}</p>
  <p class="text-left text-lg">
    {{ task.text }}
  </p>
  <p class="text-left text-sm">Ценность: {{ task.price }}</p>
</div>
