<div class="py-4 px-6 border rounded flex flex-col mb-2">
  <td>
    <input type="button" value="Изменить" class="btn btn-default" />
  </td>
  <td>
    <input type="button" value="Удалить" class="btn btn-danger" />
  </td>

  <!-- <mat-checkbox class="text-right">Сделано</mat-checkbox> -->
  <h1 class="text-lg text-left mb-2">{{ task.createdAt }}</h1>
  <p class="text-left text-sm">{{ task.taskGroupId }}</p>
  <p class="text-left text-sm">Price: <span class="text-xl">10</span></p>
  <p class="text-left text-lg">
    {{ task.text }}
  </p>
</div>
