
<div class="task-card">
  <div>
    <input
      type="button"
      value="Изменить"
      style="color: green;"
      (click)="editTask(task)"
    />

    <input
      type="button"
      value="Удалить"
      style="color: firebrick;"
      (click)="deleteTask(task)"
    />
  </div>

  <!-- <mat-checkbox class="text-right">Сделано</mat-checkbox> -->
  <div class="content-card">
    <p>{{ task.createdAt | date :'short' }}</p>
    <p>Группа: {{ task.taskGroupId }}</p>
    <p>
      {{ task.text }}
    </p>
    <p>Ценность: <span class="price">{{ task.price | currency:"USD":"symbol":'1.0' }}</span></p>
  </div>

</div>

