<div class="main-page">
  <div mat-dialog-actions align="end">
    <button class="btn-grad" (click)="openLoginForm()">
      {{ loginBtn }}
    </button>
  </div>

  <header class="header">
    <div class="container">
      <div class="logo">
        {{ title }}
      </div>
    </div>
  </header>

  <section class="main-content">
    <div class="container">
      <div class="main-info">
        <h1 class="main-title">Порядок в доме</h1>
        <p class="main-text">Мы знаем,<br/>как сделать проще<br/>уход за вашим домом</p>
      </div>
    </div>
  </section>
</div>

<footer class="footer">
  <div class="rights">«Все права защищены»</div>
</footer>
