<nav>
  <div class="side-bar">
    <div class="sidebar-content">
      <div>
        <div class="btn-group"
             *ngFor="let groupTitle of groupTitles"
             (click)="changeCurrentGroup(groupTitle)"
        >
          <button>
            {{ groupTitle.title }}
          </button>
        </div>
      </div>


      <div class="bottom-content">
        <li>
          <a href="#"><img src="assets/icons/settings.png">{{ SETTINGS }}</a>
        </li>
        <li>
          <a href="/main"><img src="assets/icons/logout.png">{{ LOG_OUT }}</a>
        </li>
      </div>

    </div>
  </div>
</nav>


<div class="task-list">
  <app-tasks-list [currentGroup]="currentGroup"></app-tasks-list>
</div>

<app-bottom-menu
  [groupTitles]="groupTitles"
  (menuClick)="changeCurrentGroup($event)"
  (createTask)="onCreate($event)"
  (updateTask)="onUpdate($event)"
>
</app-bottom-menu>
