<div class="bg-page-pattern h-screen bg-cover bg-right bg-no-repeat">

    <div mat-dialog-actions align="end">
        <button mat-raised-button
            (click)="openDialog()"
            class="fixed top-1"
            >Вход/Регистрация</button>
    </div> 

    <h1 href="/" class="text-xl cursor-pointer text-white font-bold right-3 top-1 py-1 px-4"
        >{{title}}</h1>
    
    <h2 class="text-4xl m-1 p-3 font-bold text-black px-1 sm:text-5xl lg:text-6xl lg:top-72 xl:text-7xl xl:ml-32 xl:mt-32">
        Порядок в <br> доме</h2>

    <p class="text-lg font-bold text-white px-3">
        Мы знаем,<br>как сделать проще<br>уход за вашим домом</p>
</div> 