<nav>
  <div class="side-bar">
    <div class="sidebar-content">
      <div>
        <div class="btn-group"
             *ngFor="let groupTitle of groupTitles"
             (click)="changeCurrentGroup(groupTitle)"
        >
          <button>
            {{ groupTitle.title }}
          </button>
        </div>
      </div>


      <div class="bottom-content">
        <li>
          <a href="#"><img src="assets/icons/settings.png" alt="icon-settings">{{ SETTINGS }}</a>
        </li>
        <li>
          <a href="/main"><img src="assets/icons/logout.png" alt="icon-logout">{{ LOG_OUT }}</a>
        </li>
      </div>

    </div>
  </div>
</nav>
