* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  list-style: none;
  font-size: 20px;
}

.container {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
  }

  li {
    cursor: pointer;
    font-size: 16px;
  }

  img {
    display: unset;
    width: 20px;
    height: 20px;
  }

  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .active.side-bar {
    width: 150px;
    transition: all 0.7s ease;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 6px 9px;
  }

  .sidebar-content li:hover {
    background-color: rgba(142, 225, 246, 0.47);
  }


  .btn-group:hover {
    background-color: rgba(142, 225, 246, 0.47);
    cursor: pointer;
  }


  .para {
    display: none;
    transition: all 0.1s ease;
  }

  .active.para {
    display: flex;
    transition: all 0.1s ease;
  }

  .no-para {
    transition: all 0.1s ease;
  }

  .active.no-para {
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    transition: all 0.1s ease;
  }

  .tog {
    top: 0;
    left: 25px;
    padding-bottom: 5px;
    font-size: 1.4rem;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .tog:hover {
    background-color: rgba(142, 225, 246, 0.47);
  }


  .tog #toggle-cross {
    display: none;
  }

  .active.tog #toggle-cross {
    display: block;
  }

  .active.tog #toggle-bars {
    display: none;
  }
}
