<button mat-icon-button matDialogClose style="float: right; margin: 1px">
  <mat-icon> close</mat-icon>
</button>

<header style="margin: 2px 5px">
  <h1>Вход/Регистрация</h1>
</header>

<div style="margin: 1px 1px">
  <p>
    <mat-form-field>
      <input matInput placeholder="Ваш логин"/>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Ваш email"/>
      <mat-icon matSuffix>drafts</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Ваш пароль"/>
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
  </p>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary">Войти</button>
</div>
