<div class="mat-mdc-dialog-container mdc-dialog__surface wrapper">
  <form>
    <button class="close-btn" matDialogClose>
      <span class="material-symbols-outlined">
        close
      </span>
    </button>

    <h1>Вход/Регистрация</h1>

    <div class="input-box">
      <input type="text" placeholder="Ваш логин" required/>
      <i class="material-symbols-outlined">
          person
        </i>
    </div>

    <div class="input-box">
      <input matInput placeholder="Ваш email" required/>
      <i class="material-symbols-outlined">
          email
        </i>
    </div>

    <div class="input-box">
      <input type="password" placeholder="Ваш пароль" required/>
      <i class="material-symbols-outlined">
        key
      </i>
    </div>

    <div class="remember-forgot">
      <label>
        <input type="checkbox">Запомнить меня</label>
        <a href="#">Забыли пароль?</a>
    </div>

    <button class="login-btn" type="submit">Войти</button>

    <div class="register-link">
      <a routerLink="#">Регистрация</a>
    </div>

  </form>
</div>









