<div class="mat-mdc-dialog-container mdc-dialog__surface wrapper">
  <form>
    <button class="close-btn" matDialogClose>
      <img src="assets/icons/close.png" alt="close-icon">
    </button>

    <h1 [hidden]="!loginFormState">{{ LOGIN_HEADER }}</h1>
    <h1 [hidden]="registerFormState">{{ REGISTER_HEADER }}</h1>


    <div class="input-box">
      <input type="text" placeholder="Ваш логин" required/>
      <img src="assets/icons/user.png" alt="user-icon">
    </div>

    <div class="input-box" [hidden]="registerFormState">
      <input placeholder="Ваш email" required/>
      <img src="assets/icons/email.png" alt="email-icon">
    </div>

    <div class="input-box">
      <input type="password" placeholder="Ваш пароль" required/>
      <img src="assets/icons/key.png" alt="key-icon">
    </div>

    <div class="forgot">
      <a href="#" [hidden]="!loginFormState">{{ FORGOT }}</a>
    </div>

    <button class="login-btn" type="submit" [hidden]="!loginFormState">{{ LOGIN }}</button>
    <button class="login-btn" type="submit" [hidden]="registerFormState">{{ REGISTER }}</button>

    <div class="register-link" (click)="registerForm()">
      <a routerLink="#" [hidden]="!loginFormState">{{ REGISTER }}</a>
    </div>

  </form>
</div>









