<div class="bottom-menu" [class.bottom-menu-in-use]="!hideDeleteBtn">
  <div class="bottom-menu__header">
    <input
      class="inputText"
      type="text"
      [placeholder]="placeholderAddTask"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (input)="onChange($event.target)"
      [class.inputText-in-use]="!hideDeleteBtn"
    />
    <button
      class="deleteBtn"
      (click)="clearInput($event.target)"
      [hidden]="hideDeleteBtn"
    >
      <span class="material-symbols-outlined">
        close
      </span>
      <!--      <mat-icon>close</mat-icon>-->
    </button>
    <button
      [matMenuTriggerFor]="menu"
      class="button-class"
      aria-label="Меню"
      [hidden]="hideMenuBtn"
    >Меню
    </button>
    <mat-menu
      class="title-group"
      #menu="matMenu"
      yPosition="above"
    >
<!--      $target.data('creature')-->
      <div *ngFor="let groupTitle of groupTitles">
        <button
          (click)="changeCurrentGroup(groupTitle)"
          class="menu-groups-title"
          [attr.data-groupid]="groupTitle.id"
        >
          {{groupTitle.title}}
        </button>
      </div>
    </mat-menu>


  <div
    [hidden]="hideTaskBtns"
    class="bottom-menu__btns"
  >
    <button class="icon-btn" [matMenuTriggerFor]="menu">
<!--      <mat-icon>menu</mat-icon>-->
      <span class="material-symbols-outlined">
        menu
      </span>
    </button>
    <button class="icon-btn">
      <span class="material-symbols-outlined">
        calendar_month
      </span>
<!--      <mat-icon>calendar</mat-icon>-->
    </button>
    <button class="icon-btn">
      <span class="material-symbols-outlined">
        autorenew
      </span>
    </button>
      <input class="input-btn"
             type="text"
      />
<!--      <mat-icon>cach</mat-icon>-->
    <button class="icon-btn">
      <span class="material-symbols-outlined">
        check_circle
      </span>
      <!--      <mat-icon>check</mat-icon>-->
    </button>
  </div>
</div>
