<div class="bg-page-pattern h-screen bg-cover bg-right bg-no-repeat">

    <h1 href="/" class="text-xl cursor-pointer text-white m-auto font-bold right-3 top-5 py-4 px-4"
        >{{title | titlecase }}</h1>
        
    <button href="/" 
        class="text-base font-light cursor-pointer text-black rounded bg-gray-200 fixed right-3 top-3 py-2 px-4 hover:bg-gray-400"
    >Вход/Регистрация
    </button>
    

    <h2 class="text-2xl m-5 font-bold text-black left-7 right-8 top-12 py-3 px-2 sm:text-5xl sm:top-14 lg:text-6xl lg:top-72 xl:text-7xl xl:ml-32 xl:mt-32">Порядок в доме</h2>
</div> 

<!-- <router-outlet></router-outlet> -->