<form
  class="wrapper" [formGroup]="authForm"
  (ngSubmit)="onSubmit('login')"
>
  <button class="close-btn" matDialogClose>
    <img src="assets/icons/close.png" alt="close-icon">
  </button>

  <h1 class="title">Зарегистрироваться</h1>

  <div class="input-box">
    <input placeholder="Ваш email" formControlName="email"/>
    <img src="assets/icons/email.png" alt="email-icon">
  </div>

  <div class="input-box">
    <input type="password" formControlName="password" placeholder="Ваш пароль"/>
    <img src="assets/icons/key.png" alt="key-icon">
  </div>


  <button class="login-btn" type="submit">Регистрация</button>
  <div (click)="changeCurrentFormToLogin()" class="register-link">
    <button>У меня есть аккаунт. Войти</button>
  </div>

</form>
