.group-title {
  padding: 0;
  margin-left: 4px;
  display: flex;
  font-weight: bold;
  font-size: 25px;
}

.task-list {
  padding-bottom: 40px;
  margin: 0 4px;

}

.expanded-menu.task-list {
  margin-left: 155px;
}


@media (min-width: 1024px) {
  .group-title {
    /*margin-left: 17%;*/
    padding: 10px 0 0 0;
  }

  .task-list {
    padding-bottom: 40px;
    margin-left: 55px;
  }

}
