<button
  type="button"
  mat-icon-button
  mat-dialog-close=""
  style="float: right; margin: 1px"
>
  <mat-icon> close</mat-icon>
</button>

<header class="p-5">
  <h1>Создать задачу</h1>
</header>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-select placeholder="Группа задач">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="New group"
            type="text"
            formControlName="taskGroup"
            #itemName
          />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          (click)="add(itemName.value); itemName.value = ''"
        >
          Добавить
        </button>

        <mat-option
          *ngFor="let taskGroup of taskGroups"
          [value]="taskGroup.value"
        >
          {{ taskGroup.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Количество баллов"
        formControlName="point"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Текст задачи</mat-label>
      <textarea matInput type="text" formControlName="text"></textarea>
    </mat-form-field>

    <mat-dialog-actions>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
      >
        Создать
      </button>
    </mat-dialog-actions>
  </div>
</form>
<!-- <div mat-dialog-actions>
  <button
    type="submit"
    form="myform"
    mat-raised-button
    color="primary"
    (click)="doAction()"
  >
    Создать
  </button>
</div> -->
