<!-- <button mat-icon-button matDialogClose style="float: right; margin: 1px;">
  <!-- <mat-icon> close</mat-icon>
</button>  -->

    <button mat-icon-button matDialogClose style="float: right; margin: 1px;">
        <mat-icon> close</mat-icon>
        </button>
    <header class="p-5">
        <h1>Создать задачу</h1>
    </header>

<div mat-dialog-content>

    <mat-form-field >
        <mat-label>Группа задач</mat-label>
        <mat-select>
        <mat-option value="one">Домашние дела</mat-option>
        <mat-option value="two">Странные дела</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Текст задачи</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" 
  >Создать</button>
</div>
