
<button type="button" mat-icon-button mat-dialog-close="" style="float: right; margin: 1px">
  <mat-icon> close</mat-icon>
</button>

<header class="p-5">
  <h1>Создать задачу</h1>
</header>

<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Группа задач">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="New group" #itemName />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="add(itemName.value); itemName.value = ''">
        Добавить
      </button>

      <mat-option *ngFor="let taskGroup of taskGroups" [value]="taskGroup.value">
        {{ taskGroup.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Текст задачи</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="doAction()">
    Создать
  </button>
</div>
